*{box-sizing:border-box;margin:0;padding:0}

body{
  font-family:Segoe UI, sans-serif;
  background:#f0f2f5;
  max-width:900px;
  margin:auto;
  padding:20px;
}

header{text-align:center;margin-bottom:30px}

section{
  background:#fff;
  padding:25px;
  margin-bottom:25px;
  border-radius:12px;
  box-shadow:0 5px 15px rgba(0,0,0,.1)
}

form input,form select,form button{
  padding:10px;
  margin:5px 0;
  width:100%;
  border-radius:8px;
  border:1px solid #ccc
}

form button{
  background:#3498db;
  color:#fff;
  border:none;
  cursor:pointer
}

ul{list-style:none;margin-top:15px}

li{
  background:#f9f9f9;
  padding:12px;
  border-radius:8px;
  margin-bottom:10px
}

.galeria{
  display:flex;
  gap:8px;
  flex-wrap:wrap;
  margin-top:5px
}

.galeria img{
  width:60px;
  height:60px;
  object-fit:cover;
  border-radius:6px;
  border:1px solid #ccc;
  cursor:pointer
}

li button{
  margin-top:5px;
  padding:6px 10px;
  border:none;
  border-radius:6px;
  cursor:pointer
}

.delete{background:#e74c3c;color:#fff}

.modal-img{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.8);
  display:none;
  align-items:center;
  justify-content:center;
  z-index:9999
}

.modal-img img{
  max-width:90%;
  max-height:90%;
  border-radius:10px
}
